<div class="list">
  <div class="list__main-container">
    <div class="list__main-title-container">
      <h2 class="list__main-title"
          [innerText]="componentData.main.title.text"></h2>
    </div>

    <div class="list__main-selected-container">
      <div class="list__main-selected"
           *ngIf="selectedList.length; else makeChoice">
        {{componentData.main.selected.text}} <strong>{{selectedList.length}}</strong>
      </div>

      <ng-template #makeChoice>
        {{componentData.main.selected.makeChoice}}
      </ng-template>

      <div class="list__main-selected-items">
        <ol>
          <li *ngFor="let element of selectedList"
              class="list__main-selected-item">
            <div class="list__selected-item">
              {{element.name}}
              <button [innerText]="componentData.main.button.remove"
                      [disabled]="componentData.update.container.show"
                      (click)="removeElementFromSelected(element,'main')">
              </button>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <div class="list__main-btn-container">
        <button (click)="componentData.main.button.action()"
                [disabled]="componentData.update.container.show"
                class="list__main-btn list__btn"
                [innerText]="componentData.main.button.text">
        </button>
    </div>
  </div>

  <div class="list__update-container"
       *ngIf="componentData.update.container.show">
    <div class="list__update-header">
      <div class="list__update-header-text"
           [innerText]="componentData.update.header.text">
      </div>

      <div class="list__update-header-btn-container">
        <button class="list__update-header-btn-container list__btn"
                (click)="componentData.update.header.button.action()"
                [innerText]="componentData.update.header.button.text">
        </button>
      </div>
    </div>

    <div class="list__update-filter-container">
      <div class="list__update-filter list__update-filter-container-item">
        <label for="filter"
               class="list__update-filter-container-label"
               [innerText]="componentData.update.filter.byName"></label>
        <input id="filter" type="text" [(ngModel)]="searchElement">
      </div>

      <div class="list__update-filter-select-box list__update-filter-container-item">
        <!--<label for="filterSelect"-->
               <!--class="list__update-filter-container-label"-->
               <!--[innerText]="componentData.update.filter.select"></label>-->
        <!--<select id="filterSelect">-->
          <!--<option value="noSelect">Без фильтра</option>-->
          <!--<option value="moreThan10">Номер > 10</option>-->
          <!--<option value="moreThan100">Номер > 100</option>-->
          <!--<option value="moreThan200">Номер > 200</option>-->
        <!--</select>-->
      </div>
    </div>

    <div class="list__update-list-container">
      <ul class="list__update-list">
        <li *ngFor="let element of filteredList"
            class="list__update-list-item">
          <input type="checkbox"
                 class="list__update-list-item-input"
                 id="{{element.id}}"
                 [disabled]="element.disabled"
                 (input)="selectElement(element)"
                 [checked]="element.selected">
          <label [for]="element.id"
                 [innerText]="element.name">
          </label>
        </li>
      </ul>
    </div>

    <div class="list__update-temporary-selected-container">
      <span class="list__update-temporary-selected-text"
            [innerText]="componentData.update.temporary.text">

      </span>
      <ul class="list__update-temporary-selected-list">
        <li *ngFor="let el of tempSelectedList"
            class="list__update-temporary-selected-list-item">
          <div class="list__selected-item">
            {{el.name}}
            <button [innerText]="componentData.main.button.remove"
                    (click)="removeElementFromSelected(el, 'update')">
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="list__update-btn-container">
      <button (click)="componentData.update.buttons.save.action()"
              class="list__update-btn list__btn"
              [disabled]="!tempSelectedList.length"
              [innerText]="componentData.update.buttons.save.text">
      </button>

      <button (click)="componentData.update.buttons.cancel.action()"
              class="list__update-btn list__btn"
              [innerText]="componentData.update.buttons.cancel.text">
      </button>
    </div>
  </div>
</div>
